.school-text{
    grid-area: school-text;
    display: flex;
    flex-direction: column;
}
.school-img{
    grid-area: school-img;
    border-left: 0.5px solid #000000;
}
.school-title{
    font-size: 2em;
    padding: 1em;
}
.school-description{
    padding: 1.4em;
    min-height: 200px;
    font-size: 1.25em;
    text-align: justify;
}
.horizontal-photo{
    display: flex;
    flex-direction: row;
    height: 30vh;
    grid-area: horizontal-photo;
    border-top: 0.5px solid #000000;
    transform: scaleX(-1);
    z-index: -1;
}